<h1>To Do List</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      <%= link_to(task.title, task_path(task)) %>
    </li>
  <% end %>
</ul>

<h3><%= link_to("Create new task", new_task_path) %></h3>
